%YAML 1.1
---

vars:
  address-groups:
    HOME_NET: "[192.168.0.0/16,10.0.0.0/8,172.16.0.0/12]"
    EXTERNAL_NET: "!$HOME_NET"

outputs:
  - fast:
      enabled: yes
      filename: fast.log
  - eve-log:
      enabled: yes
      filetype: regular
      filename: eve.json
      types:
        - alert:
            payload: yes
        - http:
            extended: yes
        - dns
        - tls
        - files
        - flow

detect:
  profile: medium
  custom-values:
    toclient-groups: 3
    toserver-groups: 25

logging:
  default-log-level: info